* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.container {
    display: grid;
    grid-template-areas:
        'a a b'
        'c d d'
        'c e e';
    grid-template-columns: 250px 120px 250px;
    grid-template-rows: 200px 90px 120px;
    gap: 15px;
    justify-content: center;
    padding: 30px;
    margin-top: 100px;
}

.item1 {
    grid-area: a;
    background-color: #eb5020;
}

.item2 {
    grid-area: b;
    background-color: #ffa401;
}

.item3 {
    grid-area: c;
    background-color: #05aa42;
}

.item4 {
    grid-area: d;
    background-color: #01aefd;
}

.item5 {
    grid-area: e;
    background-color: #01aefd;
}

@media (min-width:360px) and (max-width: 675px){
.container {
    display: grid;
    grid-template-areas:
        'a'
        'b'
        'c'
        'd'
        'e';
    grid-template-columns: 150px 50px 150px;
    grid-template-rows: 180px 70px 100px;
    gap: 7px;
    padding: 10px;
    justify-content: center;
    margin-top: 80px;
    }

}
